attrs==15.2.0
beautifulsoup4==4.4.1
cffi==1.6.0
colorama==0.3.7
cryptography==1.3.2
cssselect==0.9.1
cycler==0.10.0
EasyProcess==0.2.2
enum34==1.1.5
idna==2.1
ipaddress==1.0.16
jianfan==0.0.2
jieba==0.38
lxml==3.6.0
matplotlib==1.5.1
MySQL-python==1.2.4b4
nltk==3.2.1
numpy==1.11.0
pandas==0.18.1
parsel==1.0.2
Paste==2.0.3
pyasn1==0.1.9
pyasn1-modules==0.0.8
pycparser==2.14
PyDispatcher==2.0.5
pydub==0.16.3
pyOpenSSL==16.0.0
pyparsing==2.1.1
python-dateutil==2.5.3
pytz==2016.4
PyVirtualDisplay==0.2
PyYAML==3.11
queuelib==1.4.2
requests==2.9.1
scikit-learn==0.17.1
scipy==0.17.1
Scrapy==1.1.0
selenium==2.53.2
service-identity==16.0.0
six==1.10.0
sklearn==0.0
Twisted==16.1.1
vboxapi==1.0
virtualenv==15.0.1
w3lib==1.14.2
zope.interface==4.1.3
